# dependencies
/node_modules
**/node_modules

# Next.js
next-env.d.ts
**/.next
**/out

# Misc
.DS_Store
*.pem

# Debug stuff
yarn-debug.log*
yarn-error.log*

# .env files
.env

# Rust thingys
**/target

# Don't bother others w/ your editor
**/.vscode
.vscode/

# Lock them out my repo
**/*.lock
Cargo.lock
**/Cargo.lock
